[submodule "matthewvarga.net"]
	path = matthewvarga.net
	url = https://github.com/matthewvarga/matthewvarga.net.git
[submodule "tftbuild.co"]
	path = tftbuild.co
	url = https://github.com/matthewvarga/tftbuild.co.git
[submodule "project-team_zero"]
	path = project-team_zero
	url = https://github.com/matthewvarga/project-team_zero.git
